*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:30px;
}

.container{
    max-width:900px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:10px;
    font-size:40px;
}

.subtitle{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 0 20px rgba(0,0,0,.25);
}

.card h2{
    margin-bottom:10px;
}

.info{
    margin:8px 0;
    color:#d1d5db;
}

.actions{
    display:flex;
    gap:15px;
    align-items:center;
    margin-top:15px;
    flex-wrap:wrap;
}

button{
    border:none;
    background:#22c55e;
    color:white;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#16a34a;
}

.qr{
    background:white;
    padding:8px;
    border-radius:8px;
}
